
<header>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
  <center>
    <h1 class="display-4">LA TEAM CROQUETTE</h1>
    <h3>Voici notre belle équipe de glandeurs (on adore se toucher la nouille)</h3>
    </center>
  </div>
</div>
<body>
</header>


<center>
<h3>Tom-tom</h3>
<h5>La tête du groupe, une voix sexy, une belle intelligence, si t'es sapio-sexuel il est pour toi!</h5>
<br>
<br>
<br>
<br>
<h3>Samuelito</h3>
<h5>Energie débordante et blagues du moyen-âge, une bonne poire !</h5>
<a href="https://zupimages.net/viewer.php?id=23/07/c868.jpg"><img src="https://zupimages.net/up/23/07/c868.jpg" alt="" /></a>
<br>
<br>
<br>
<br>
<h3>La belle Isabelle</h3>
<h5>Adores la télé réalité, se faire les ongles, et montrer ses pieds</h5>
<a href="https://zupimages.net/viewer.php?id=23/07/p5ep.jpg"><img src="https://zupimages.net/up/23/07/p5ep.jpg" alt="" /></a>
<br>
<br>
<br>
<br>
<h3>Andreanounette</h3>
<h5>Celle qui réfléchis vraiment, il en fallait bien une !</h5>
<a href="https://zupimages.net/viewer.php?id=23/07/lwng.jpg"><img src="https://zupimages.net/up/23/07/lwng.jpg" alt="" /></a>
<br>
<br>
<br>
<br>
<h3>Zitouninou</h3>
<h5>Le sang de la veine, le frérot, le J c'est le S</h5>
<a href="https://zupimages.net/viewer.php?id=23/07/gfqw.jpg"><img src="https://zupimages.net/up/23/07/gfqw.jpg" alt="" /></a>
<br>
<br>
<br>
<br>
<h3>Yaya alias choupinou</h3>
<h5>Beau, intelligent, charismatique, que dire de plus?</h5>
<a href="https://zupimages.net/viewer.php?id=23/07/jijk.jpg"><img src="https://zupimages.net/up/23/07/jijk.jpg" alt="" /></a>
</center>
