<div class="m-2">
  <h3>Sur cette page vous trouverez les gossips des auteurs qui viennent de chez nous!</h3>

  <% @city.users.each do |user| %>
    <p>Potins de <%=user.first_name%> <%=user.last_name%> :</p>
    <%user.gossips.each do |gossip| %>
      <ul><li>Potin : <a href= "<%=gossip_path(gossip.id)%>"><%=gossip.title%></a></li></ul>     
    <% end %>
  <% end %>
</div>